* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1c1c1c;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'VT323', sans-serif;
}

.bar {
  color: black;
  padding: 16px;
}

.health {
  padding: 16px;
}

.gameBoy {
  max-width: 420px;
  background: #f8d26d;
  border-radius: 10px;
  margin: 0.5rem auto;
  height: 41rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  }

.display  {
    box-sizing: border-box;
    max-height: 477px;
    background: #CDEDFC;
    border: 10px solid #DFA46D;
    box-shadow: inset 0 0 0 0.625rem #E7F6FD;
    padding: 1.5rem;
    margin-bottom: 1.75rem;
    display: flex;
    flex-direction: column;
   
    

}

.parameters {
 margin: 0 auto;
 
}

.parameters ul li {
  font-size: 4rem;

}

.heart_sprite {
      height: 40px;
      width: 40px;
      background: url("images/icons.png") -25px -25px;
      display:inline-block;

}

.apple_sprite {
  height: 40px;
  width: 40px;
  background: url("images/icons.png") -25px -115px;
  display: inline-block;

}

.sleepy_sprite {
  height: 40px;
  width: 40px;
  background: url("images/icons.png") -25px -200px;
  display: inline-block;

}

.ball_sprite {
  height: 40px;
  width: 40px;
  background: url("images/icons.png") -25px -290px;
  display: inline-block;

}

.view {
    box-sizing: border-box;
    border: 7px solid #9FDCF9;
    width: 292px;
    height:280px;
    margin-bottom: 0.75rem;
    
}

.tamagotchi_sprite {
  height: 130px;
  width: 152px;
  background: url("images/tamago.png") -40px -25px;
  margin: 4rem auto;
  border-bottom: 8px solid white;
}

.status {
  /* Line 2 (Stroke) */
    background: #E7F6FD;
    max-width:292px;
    max-height:58px;
    text-align:center;
    padding: 0.5rem 3rem;
    font-size: 2rem;
}

.parameters ul li, .actions ul li {
  display: inline-block;
}

.actions {
  display:flex;
  flex-direction: row;
  margin: 0 auto;

}

.actions ul li {
    box-sizing: border-box;
    width: 68.18px;
    height: 68.06px;
    /* Yellow */
    background: #F8D26D;
    /* Timber */
    border: 5px solid #DFA46D;
    border-radius: 50%;
    /* Button shadow */
    box-shadow: 0px 7px 0px #724D50;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.6rem;
    
}


/* .actions button {
  display:none;
} */
