:root {
  --white: rgba(255, 255, 255, 1);
  --blue: rgba(159, 220, 249, 1);
  --lightblue: rgba(205, 237, 252, 1);
  --lightestblue: rgba(231, 246, 253, 1);
  --plum: rgba(114, 77, 80, 1);
  --timber: rgba(223, 164, 109, 1);
  --yellow: rgba(248, 210, 109, 1);
  --dark: rgba(28, 28, 28, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--dark);
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'VT323', monospace;
}

.health {
  padding: 16px;
}

.gameBoy {
  max-width: 420px;
  background: var(--yellow);
  border-radius: 10px;
  margin: 0.5rem auto;
  height: 41rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  }

.display  {
    box-sizing: border-box;
    background: var(--lightblue);
    border: 10px solid var(--timber);
    box-shadow: inset 0 0 0 0.625rem var(--lightestblue);
    padding: 1.5rem;
    margin-bottom: 1.75rem;
    display: flex;
    flex-direction: column;
}

.parameters figure {
 margin: 0 auto;
 color: var(--plum);
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 font-size: 3.75rem;
 line-height: 3.75rem;
}

.parameters {
  display:flex;
  flex-direction:row;
}


.high_value {
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 15%;
}

.heart_sprite {
      height: 40px;
      width: 40px;
      background: url("images/icons.png") -25px -25px;
      display:inline-block;

}

.apple_sprite {
  height: 40px;
  width: 40px;
  background: url("images/icons.png") -25px -115px;
  display: inline-block;

}

.sleepy_sprite {
  height: 40px;
  width: 40px;
  background: url("images/icons.png") -25px -200px;
  display: inline-block;
}

.ball_sprite {
  height: 40px;
  width: 40px;
  background: url("images/icons.png") -25px -290px;
  display: inline-block;
}

.view {
    box-sizing: border-box;
    border: 7px solid var(--blue);
    width: 292px;
    height:280px;
    margin-bottom: 0.75rem;    
}

#tamagotchi_sprite {
  height: 140px;
  width: 200px;
  margin: 4rem auto;
  border-bottom: 8px solid var(--white);
}

.tamagotchi_happy {
  background: url("images/tamago.png") -20px -22px;
}

.tamagotchi_dead {
  background: url("images/tamago.png") -20px -340px;
  height: 120px !important;
}

.tamagotchi_sleepy {
  background: url("images/tamago.png") -20px -497px;
}

.tamagotchi_sleeping {
  background: url("images/tamago.png") -20px -676px;
}

.tamagotchi_hungry {
  background: url("images/tamago.png") -20px -1032px;
}

.tamagotchi_eating {
  background: url("images/tamago.png") -20px -1210px;
}

.tamagotchi_playing {
  background: url("images/tamago.png") -40px -1580px;
}

.tamagotchi_bored {
  background: url("images/tamago.png") -20px -1950px;
}



.status {
    background: var(--lightestblue);
    max-width:292px;
    text-align: center;
    padding: 0.5rem 3rem;
    font-size: 4rem;
    color:var(--plum);
}

.parameters ul li, .actions ul li {
  display: inline-block;
}

.actions {
  display:flex;
  flex-direction: row;
  margin: 0 auto;

}

.actions ul li {
    box-sizing: border-box;
    width: 68.18px;
    height: 68.06px;
    background: var(--yellow);
    border: 5px solid var(--timber);
    border-radius: 50%;
    box-shadow: 0px 7px 0px var(--plum);
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.6rem;
    
}


/* .actions button {
  display:none;
} */
